/*-------------------------------------------------------------------------------------------
  CSS section 1
-------------------------------------------------------------------------------------------*/
.site-section-1 {
	.section-inner {
		background-image: url('../images/bg-img/bg-top.jpg') ;
		background-position: center;
		background-repeat:repeat-x;
		width: 100%;
		height: $base-size * 370;
		position: relative;

		
	}

	
}