.mobile-section-3 {
    margin-top: 10px;

    .section-1 {
        .success-left {
            min-height: 100vh;
            display: flex;
            align-items: center;

            .success-mid {
                position: relative;
                width: 100%;
                margin-top: 120px;

                &:hover .success-top {
                    display: block;
                }
                &:hover .success-bottom {
                    display: block;
                }

                .mid-candy {
                    position: absolute;
                    bottom: -220px;
                    left: 0;
                }

                .mid-inner {
                    width: 335px;
                    display: flex;
                    justify-content: end;
                    position: relative;
                    min-height: 94px;

                    .mid-img {
                        position: absolute;
                        left: 40px;
                        bottom: 22px;
                    }

                    .had-text {
                        position: absolute;
                        right: 20px;
                        h4 {
                            font-size: 24px;
                            font-weight: 600;
                            text-align: center;
                            span {
                                color: $font-color;
                            }
                        }
                    }
                }

                // top
                .success-top {
                    width: 180px;
                    height: 114px;
                    bottom: 155px;
                    left: 140px;
                    border-radius: 14px;
                    position: absolute;
                    border: 1px dashed $border-color;

                    &::after {
                        content: "";
                        height: 50px;
                        border-left: 1px dashed $border-color;
                        position: absolute;
                        left: 50%;
                        top: 113px;
                    }

                    h6 {
                        font-size: $base-size * 6;
                        font-weight: 600;
                        color: $font-color;
                        text-align: center;
                        padding: 10px 15px;
                        margin-bottom: 0;
                        border-bottom: 1px dashed $border-color;
                    }
                    h5 {
                        font-size: $base-size * 4;
                        font-weight: 700;
                        text-align: center;
                        padding: 5px 10px;
                        margin-bottom: 0;
                    }
                }

                .lanch-img {
                    position: absolute;
                    left: 68px;
                    top: 49px;
                    img {
                        width: 60%;
                    }
                }

                // bottom
                .success-bottom {
                    width: 190px;
                    height: 98px;
                    bottom: -180px;
                    left: 135px;
                    border-radius: 14px;
                    position: absolute;
                    border: 1px dashed $border-color;

                    &::after {
                        content: "";
                        height: 76px;
                        border-left: 1px dashed $border-color;
                        position: absolute;
                        top: -78px;
                        left: 50%;
                    }

                    h6 {
                        font-size: $base-size * 5;
                        font-weight: 600;
                        color: $font-color;
                        text-align: center;
                        padding: 10px 30px;
                        margin-bottom: 0;
                        border-bottom: 1px dashed $border-color;
                    }
                    h5 {
                        font-size: $base-size * 4;
                        font-weight: 700;
                        text-align: center;
                        padding: 5px 10px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .section-2 {
        .success-left {
            min-height: 100vh;
            display: flex;
            align-items: center;

            .success-mid {
                position: relative;
                width: 100%;
                margin-top: 120px;

                &:hover .success-top {
                    display: block;
                }
                &:hover .success-bottom {
                    display: block;
                }

                .mid-candy {
                    position: absolute;
                    bottom: -220px;
                    left: 0;
                }

                .mid-inner {
                    width: 335px;
                    display: flex;
                    justify-content: end;
                    position: relative;
                    min-height: 94px;

                    .mid-img {
                        position: absolute;
                        left: 40px;
                        bottom: -30px;
                    }

                    .had-text {
                        position: absolute;
                        right: 20px;
                        h4 {
                            font-size: 24px;
                            font-weight: 600;
                            text-align: center;
                            span {
                                color: $font-color;
                            }
                        }
                    }
                }

                // top
                .success-top-1 {
                    width: 160px;
                    padding: 10px 10px;
                    bottom: 283px;
                    left: 149px;
                    border-radius: 14px;
                    position: absolute;
                    border: 1px dashed $border-color;

                    &::after {
                        content: "";
                        height: 50px;
                        border-left: 1px dashed $border-color;
                        position: absolute;
                        left: 50%;
                        top: 50px;
                    }

                    h6 {
                        font-size: $base-size * 6;
                        font-weight: 600;
                        color: $font-color;
                        text-align: center;
                        margin-bottom: 0;
                    }
                    h5 {
                        @extend h6;
                        color: $primary;
                        padding: 0;
                    }
                }

                .success-top-2 {
                    width: 180px;
                    bottom: 149px;
                    left: 140px;
                    border-radius: 14px;
                    position: absolute;
                    border: 1px dashed $border-color;

                    &::after {
                        content: "";
                        height: 50px;
                        border-left: 1px dashed $border-color;
                        position: absolute;
                        left: 50%;
                        top: 83px;
                    }

                    h6 {
                        font-size: $base-size * 6;
                        font-weight: 700;
                        color: $font-color;
                        text-align: center;
                        padding: 10px 15px;
                        margin-bottom: 0;
                        border-bottom: 1px dashed $border-color;
                    }
                    h5 {
                        font-size: $base-size * 4;
                        font-weight: 700;
                        text-align: center;
                        padding: 10px 10px;
                    }
                }

                // bottom
                .success-bottom-1 {
                    width: 168px;
                    height: 98px;
                    top: 102px;
                    left: 146px;
                    border-radius: 14px;
                    position: absolute;
                    border: 1px dashed $border-color;

                    &::after {
                        content: "";
                        height: 20px;
                        border-left: 1px dashed $border-color;
                        position: absolute;
                        top: -20px;
                        left: 50%;
                    }

                    h6 {
                        font-size: $base-size * 5;
                        font-weight: 700;
                        color: $font-color;
                        text-align: center;
                        padding: 10px 10px;
                        margin-bottom: 0;
                        border-bottom: 1px dashed $border-color;
                    }
                    h5 {
                        font-size: $base-size * 4;
                        font-weight: 700;
                        text-align: center;
                        padding: 5px 10px;
                        margin-bottom: 0;
                    }
                }

                .success-bottom-2 {
                    width: 168px;
                    top: 212px;
                    left: 146px;
                    border-radius: 14px;
                    position: absolute;
                    border: 1px dashed $border-color;

                    &::after {
                        content: "";
                        height: 10px;
                        border-left: 1px dashed $border-color;
                        position: absolute;
                        top: -10px;
                        left: 50%;
                    }

                    h6 {
                        font-size: $base-size * 5;
                        font-weight: 600;
                        color: $font-color;
                        text-align: center;
                        padding: 10px 10px;
                        margin-bottom: 0;
                        border-bottom: 1px dashed $border-color;
                    }
                    h5 {
                        font-size: $base-size * 4;
                        font-weight: 600;
                        text-align: center;
                        padding: 10px 10px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    .section-3 {
        .success-left {
            min-height: 100vh;
            display: flex;
            align-items: center;

            .success-mid {
                position: relative;
                width: 100%;
                margin-top: 120px;

                .mid-candy {
                    position: absolute;
                    bottom: -220px;
                    left: 0;
                }

                .mid-inner {
                    width: 335px;
                    display: flex;
                    justify-content: end;
                    position: relative;
                    min-height: 94px;

                    .mid-img {
                        position: absolute;
                        left: 30px;
                        bottom: 80px;
                    }

                    .had-text {
                        position: absolute;
                        right: 20px;
                        h4 {
                            font-size: 24px;
                            font-weight: 600;
                            text-align: center;
                            span {
                                color: $font-color;
                            }
                        }
                    }
                }

                // top
                .success-top-1 {
                    width: 172px;
                    padding: 12px 5px;
                    bottom: 283px;
                    left: 149px;
                    border-radius: 14px;
                    position: absolute;
                    border: 1px dashed $border-color;

                    &::after {
                        content: "";
                        height: 11px;
                        border-left: 1px dashed $border-color;
                        position: absolute;
                        left: 50%;
                        top: 41px;
                    }

                    h5 {
                        font-size: $base-size * 6;
                        font-weight: 600;
                        color: $primary;
                        text-align: center;
                        margin-bottom: 0;
                    }
                }

                .success-top-2 {
                    @extend .success-top-1;
                    width: 172px;
                    padding: 12px 5px;
                    bottom: 230px;
                    left: 146px;
                    h5 {
                        color: $font-color;
                    }
                }
                .success-top-3 {
                    @extend .success-top-1;
                    width: 172px;
                    padding: 12px 5px;
                    bottom: 177px;
                    left: 146px;
                    h5 {
                        color: $primary;
                    }
                }
                .success-top-4 {
                    @extend .success-top-1;
                    width: 172px;
                    padding: 12px 5px;
                    bottom: 124px;
                    left: 146px;
                    &::after {
                        content: "";
                        height: 20px;
                        border-left: 1px dashed $border-color;
                        position: absolute;
                        left: 50%;
                        top: 41px;
                    }
                    h5 {
                        color: $font-color;
                    }
                }

                // bottom
                .success-bottom-1 {
                    width: 172px;
                    padding: 12px 5px;
                    top: 112px;
                    left: 146px;
                    border-radius: 14px;
                    position: absolute;
                    border: 1px dashed $border-color;

                    &::after {
                        content: "";
                        height: 20px;
                        border-left: 1px dashed $border-color;
                        position: absolute;
                        top: -20px;
                        left: 50%;
                    }
                    h5 {
                        font-size: $base-size * 6;
                        font-weight: 600;
                        text-align: center;
                        margin-bottom: 0;
                    }
                }

                .success-bottom-2 {
                    @extend .success-bottom-1;
                    width: 172px;
                    padding: 12px 5px;
                    top: 170px;
                    left: 146px;
                    h5 {
                        color: $font-color;
                    }
                }
                .success-bottom-3 {
                    @extend .success-bottom-2;
                    width: 172px;
                    padding: 12px 5px;
                    top: 230px;
                    left: 146px;
                    h5 {
                        color: $primary;
                    }
                }
            }
        }
    }
}
